<div class="orders-container">
  <h1 class="orders-ttl">Заявки с сайта</h1>
  <div class="orders-top">
    <div class="orders-user">Пользователь: Admin</div>
    <div class="orders-add"><button (click)="modal = true">Добавить заказ</button></div>
  </div>
  <div class="orders-tbl">
    <div class="orders-tbl-row head">
      <div class="orders-tbl-id"><b>Дата</b></div>
      <div class="orders-tbl-name"><b>Имя клиента</b></div>
      <div class="orders-tbl-phone"><b>Телефон</b></div>
      <div class="orders-tbl-prod"><b>Товар</b></div>
      <div class="orders-tbl-npNum"><b>№ Накладной</b></div>
      <div class="orders-tbl-stat"><b>Статус</b></div>
    </div>

    <div class="orders-tbl-row" style="background:#0e4fdb; color: #fff"><b class="orders-tbl-id">09.12.2020</b></div>
    <div class="orders-tbl-row" data-id="948" (click)="modal = true">
      <div class="orders-tbl-id">09.12.2020</div>
      <div class="orders-tbl-name">Коренчук Марія</div>
      <div class="orders-tbl-phone">380990360492</div>
      <div class="orders-tbl-prod">Камуфляжная</div>
      <div class="orders-tbl-npNum"></div>
      <div class="orders-tbl-stat">
        <span class="new">Новый</span>
      </div>
      <div class="orders-tbl-delete">&times;</div>
    </div>

    <div class="orders-tbl-row" style="background:#0e4fdb; color: #fff"><b class="orders-tbl-id">02.12.2020</b></div>
    <div class="orders-tbl-row" data-id="947" (click)="modal = true">
      <div class="orders-tbl-id">02.12.2020</div>
      <div class="orders-tbl-name">Корсюк Богдан</div>
      <div class="orders-tbl-phone">380964137037</div>
      <div class="orders-tbl-prod">Черная классическая</div>
      <div class="orders-tbl-npNum"></div>
      <div class="orders-tbl-stat">
        <span class="new">Новый</span>
      </div>
      <div class="orders-tbl-delete">&times;</div>
    </div>
    <div class="orders-tbl-row" data-id="876" (click)="modal = true">
      <div class="orders-tbl-id">07.03.2020</div>
      <div class="orders-tbl-name">Малько Елена</div>
      <div class="orders-tbl-phone">380674978887</div>
      <div class="orders-tbl-prod">Единорог 1</div>
      <div class="orders-tbl-npNum">20450212628055</div>
      <div class="orders-tbl-stat">
        <span class="done">Выполнено</span>
      </div>
      <div class="orders-tbl-delete">×</div>
    </div>
    <div class="orders-tbl-row" data-id="857" (click)="modal = true">
      <div class="orders-tbl-id">05.03.2020</div>
      <div class="orders-tbl-name">Татьяна Швыгарь</div>
      <div class="orders-tbl-phone">380660444273</div>
      <div class="orders-tbl-prod">Фламинго</div>
      <div class="orders-tbl-npNum">20450212105678</div>
      <div class="orders-tbl-stat">
        <span class="ready">Нужно отправить</span>
      </div>
      <div class="orders-tbl-delete">×</div>
    </div>
    <div class="orders-tbl-row" data-id="871" (click)="modal = true">
      <div class="orders-tbl-id">05.03.2020</div>
      <div class="orders-tbl-name">Наталья Сидун</div>
      <div class="orders-tbl-phone">380973828182</div>
      <div class="orders-tbl-prod">Фламинго</div>
      <div class="orders-tbl-npNum">20450211958259</div>
      <div class="orders-tbl-stat">
        <span class="break">Отказ</span>
      </div>
      <div class="orders-tbl-delete">×</div>
    </div>
  </div>
</div>

<app-list-modal
  *ngIf="modal"
  (close)="modal = false"
></app-list-modal>
