<div class="orders-container">
  <h1 class="orders-ttl">Заявки с сайта</h1>
  <div class="orders-top">
    <div class="orders-user">Пользователь: Admin</div>
    <div class="orders-add"><button (click)="showModal()">Добавить товар</button></div>
  </div>
  <div class="stock-tbl">
    <div class="stock-tbl-row head">
      <div class="stock-tbl-id"><b>SKU</b></div>
      <div class="stock-tbl-name"><b>Name</b></div>
      <div class="stock-tbl-code"><b>Alias</b></div>
      <div class="stock-tbl-price"><b>Price</b></div>
      <div class="stock-tbl-count"><b>Quantity</b></div>
    </div>

    <div *ngFor="let item of stockList">
      <div class="orders-tbl-row_wrap">
        <div class="stock-tbl-row" data-id="{{item._id}}" (click)="showModal(item._id)">
          <div class="stock-tbl-id">{{item.sku}}</div>
          <div class="stock-tbl-name">{{item.name}}</div>
          <div class="stock-tbl-code">{{item.sys_name}}</div>
          <div class="stock-tbl-price"><span>{{item.price}}</span> UAH</div>
          <div class="stock-tbl-count"><span>{{item.stock_count}}</span></div>
        </div>
        <div class="orders-tbl-delete" (click)="deleteItem(item._id)">&times;</div>
      </div>
    </div>

  </div>
</div>

<ng-template appModalStock></ng-template>
