<div class="orders-container">
  <h1 class="orders-ttl">Заявки с сайта</h1>
  <div class="orders-top">
    <div class="orders-user">Пользователь: Admin</div>
    <div class="orders-add"><button>Добавить товар</button></div>
  </div>
  <div class="stock-tbl">
    <div class="stock-tbl-row head">
      <div class="stock-tbl-id"><b>id Товара</b></div>
      <div class="stock-tbl-name"><b>Название товара</b></div>
      <div class="stock-tbl-code"><b>Символьный код</b></div>
      <div class="stock-tbl-price"><b>Цена</b></div>
      <div class="stock-tbl-count"><b>Количество</b></div>
    </div>

    <div class="stock-tbl-row" data-id="49">
      <div class="stock-tbl-id">0049</div>
      <div class="stock-tbl-name">единорог 3</div>
      <div class="stock-tbl-code">Thermos_perl1</div>
      <div class="stock-tbl-price"><span>249</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="48">
      <div class="stock-tbl-id">0048</div>
      <div class="stock-tbl-name">единорог бирюза 350 мл</div>
      <div class="stock-tbl-code">poni 350</div>
      <div class="stock-tbl-price"><span>299</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="47">
      <div class="stock-tbl-id">0047</div>
      <div class="stock-tbl-name">единорог роз 350 мл</div>
      <div class="stock-tbl-code">pink_poni350</div>
      <div class="stock-tbl-price"><span>299</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="46">
      <div class="stock-tbl-id">0046</div>
      <div class="stock-tbl-name">Зеленая ночь</div>
      <div class="stock-tbl-code">grey nigt</div>
      <div class="stock-tbl-price"><span>319</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="45">
      <div class="stock-tbl-id">0045</div>
      <div class="stock-tbl-name">Олень белый</div>
      <div class="stock-tbl-code">olenenok01</div>
      <div class="stock-tbl-price"><span>339</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="44">
      <div class="stock-tbl-id">0044</div>
      <div class="stock-tbl-name">Чашка котик</div>
      <div class="stock-tbl-code">chashka_cat</div>
      <div class="stock-tbl-price"><span>0</span> грн.</div>
      <div class="stock-tbl-count"><span>500</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="43">
      <div class="stock-tbl-id">0043</div>
      <div class="stock-tbl-name">Черная el600</div>
      <div class="stock-tbl-code">black_600</div>
      <div class="stock-tbl-price"><span>249</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="42">
      <div class="stock-tbl-id">0042</div>
      <div class="stock-tbl-name">Белая el600</div>
      <div class="stock-tbl-code">white_600</div>
      <div class="stock-tbl-price"><span>249</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="41">
      <div class="stock-tbl-id">0041</div>
      <div class="stock-tbl-name">Розовая el600</div>
      <div class="stock-tbl-code">pink_600</div>
      <div class="stock-tbl-price"><span>199</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="40">
      <div class="stock-tbl-id">0040</div>
      <div class="stock-tbl-name">Металлик el600</div>
      <div class="stock-tbl-code">silver_600</div>
      <div class="stock-tbl-price"><span>299</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="39">
      <div class="stock-tbl-id">0039</div>
      <div class="stock-tbl-name">Черная классическая</div>
      <div class="stock-tbl-code">black_502</div>
      <div class="stock-tbl-price"><span>349</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="38">
      <div class="stock-tbl-id">0038</div>
      <div class="stock-tbl-name">Металлик классика</div>
      <div class="stock-tbl-code">silver_502</div>
      <div class="stock-tbl-price"><span>349</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="37">
      <div class="stock-tbl-id">0037</div>
      <div class="stock-tbl-name">Белая классическая</div>
      <div class="stock-tbl-code">white_502</div>
      <div class="stock-tbl-price"><span>349</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="36">
      <div class="stock-tbl-id">0036</div>
      <div class="stock-tbl-name">Розовая 502-1</div>
      <div class="stock-tbl-code">pink_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="35">
      <div class="stock-tbl-id">0035</div>
      <div class="stock-tbl-name">Пурпурная гр. 502-1</div>
      <div class="stock-tbl-code">purple_gr_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="34">
      <div class="stock-tbl-id">0034</div>
      <div class="stock-tbl-name">Пурпурная 502-1</div>
      <div class="stock-tbl-code">purple_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="33">
      <div class="stock-tbl-id">0033</div>
      <div class="stock-tbl-name">Синяя гр. 502-1</div>
      <div class="stock-tbl-code">blue_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="32">
      <div class="stock-tbl-id">0032</div>
      <div class="stock-tbl-name">Бирюзовая 502-1</div>
      <div class="stock-tbl-code">green_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="31">
      <div class="stock-tbl-id">0031</div>
      <div class="stock-tbl-name">Белая 502-1</div>
      <div class="stock-tbl-code">white_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="30">
      <div class="stock-tbl-id">0030</div>
      <div class="stock-tbl-name">Металлик 502-1</div>
      <div class="stock-tbl-code">silver_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="29">
      <div class="stock-tbl-id">0029</div>
      <div class="stock-tbl-name">Черная 502-1</div>
      <div class="stock-tbl-code">black_502_1</div>
      <div class="stock-tbl-price"><span>399</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="28">
      <div class="stock-tbl-id">0028</div>
      <div class="stock-tbl-name">Бирюзовая el600</div>
      <div class="stock-tbl-code">green_600</div>
      <div class="stock-tbl-price"><span>299</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="27">
      <div class="stock-tbl-id">0027</div>
      <div class="stock-tbl-name">Единорог 1</div>
      <div class="stock-tbl-code">unicorn_1</div>
      <div class="stock-tbl-price"><span>249</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="26">
      <div class="stock-tbl-id">0026</div>
      <div class="stock-tbl-name">Единорог 2</div>
      <div class="stock-tbl-code">unicorn_2</div>
      <div class="stock-tbl-price"><span>199</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="25">
      <div class="stock-tbl-id">0025</div>
      <div class="stock-tbl-name">Фламинго</div>
      <div class="stock-tbl-code">flamingo</div>
      <div class="stock-tbl-price"><span>199</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="24">
      <div class="stock-tbl-id">0024</div>
      <div class="stock-tbl-name">Красная &nbsp;el600</div>
      <div class="stock-tbl-code">red_600</div>
      <div class="stock-tbl-price"><span>299</span> грн.</div>
      <div class="stock-tbl-count"><span>500</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="23">
      <div class="stock-tbl-id">0023</div>
      <div class="stock-tbl-name">Черная история</div>
      <div class="stock-tbl-code">black_history</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="22">
      <div class="stock-tbl-id">0022</div>
      <div class="stock-tbl-name">Белая история</div>
      <div class="stock-tbl-code">white_history</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="21">
      <div class="stock-tbl-id">0021</div>
      <div class="stock-tbl-name">Черная+золото</div>
      <div class="stock-tbl-code">black_gold</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="20">
      <div class="stock-tbl-id">0020</div>
      <div class="stock-tbl-name">Камуфляжная</div>
      <div class="stock-tbl-code">army</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="19">
      <div class="stock-tbl-id">0019</div>
      <div class="stock-tbl-name">Travel</div>
      <div class="stock-tbl-code">travel</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="18">
      <div class="stock-tbl-id">0018</div>
      <div class="stock-tbl-name">Клубника</div>
      <div class="stock-tbl-code">klubnika</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="17">
      <div class="stock-tbl-id">0017</div>
      <div class="stock-tbl-name">Фрукты</div>
      <div class="stock-tbl-code">fruits</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

    <div class="stock-tbl-row" data-id="16">
      <div class="stock-tbl-id">0016</div>
      <div class="stock-tbl-name">Термокружка CAT</div>
      <div class="stock-tbl-code">CAT</div>
      <div class="stock-tbl-price"><span>549</span> грн.</div>
      <div class="stock-tbl-count"><span>100</span> шт.</div>
    </div>

  </div>
</div>
